.card {
    // FUNCTIONALITY

    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative; // needed in order to allow a position of
                        // absolute for the child element.
    height: 52rem;  // We need to specify this height as by giving
                    // the child a position of absolute, the parent
                    // lost his height.

    &__side {
    
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: .3rem;
    overflow: hidden; // allows to keep the border-radius of the image applied
                      // as a background in the front of the card (otherwise
                      // the pointy corners would be visible) as the image
                      // would overflow the parent.  
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    // FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        

        &--1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
            url(../../img/nat-5.jpg);
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
            url(../../img/nat-6.jpg);
        }

        &--3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
            url(../../img/nat-7.jpg);
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone; // allows the two lines of the text to be
                                     // trated as separate element so, for
                                     // example, if giving a property of
                                     // padding right 5px it will be applied to
                                     // both lines and not just to the left
                                     // side of the first line and to the right
                                     // side of the second one.
                                     // without: |...1st line|
                                     //          |2nd line...|
                                     // with:    |...1st line...|
                                     //          |...2nd line...|
                                     // It applies to all applied styles.

        &--1 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-secondary-light, .85), 
            rgba($color-secondary-dark, .85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-primary-light, .85), 
            rgba($color-primary-dark, .85));
        }

        &--3 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-tertiary-light, .85), 
            rgba($color-tertiary-dark, .85));
        }
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto; // to center the border-bottom

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: .2rem solid $color-grey-light-2;
                }
            }
        }
    }

    // BACK SIDE STYLING

    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%; // to prevent the text from splitting in two lines.
                    // It will stil split if the screen is very narrow.
        text-align: center; // not actually necessary
    }

    &__price-box {
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }

    // MEDIA QUERIES
    // This Media Query is going to completely change the way the card
    // component looks like, so we are gonna create a a media-query containing
    // a complete new component (copied/pasted code above and rearranged or
    // deleted stuff as required). 

    @include respond(tab-port) {
        // FUNCTIONALITY
        height: auto;  
        border-radius: .3rem;
        background-color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &__side {
        
            height: auto;
            position: relative;
            box-shadow: none;

            &--back {
                transform: rotateY(0deg);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);    
            }
        }

        &:hover &__side--front {
            transform: rotateY(0deg);
        }

        &__details {
            padding: 1rem 3rem;
        }

        // BACK SIDE STYLING
        &__cta {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            width: 100%;

            padding: 7rem 4rem 4rem 4rem;
        }

        &__price-box {            
            margin-bottom: 8rem;
        }

        &__price-value {
            font-size: 4rem;
        }
    }
}